#map {
    height: 100%;
    width: 100%;
  }
  
.tooltip-casa {
    background-color: #fff;
    color: #333;
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    font-size: 12px;
}
  